th, td {
    padding-right: 43px;
    text-align: left;  
    padding-bottom: 5px;  
}
.main-containers{
    display: inline;
    float: left;
    width: 50%;
}

.calculation-containers{
    display: inline;
    float: left;
    height: 650px;
}

#totalArea{
    width: 250px;
    background-color: red; 
    height: 100%;   
}

#itemButtons{
    background-color: blue;
    width: 500px;
    height: 100%;
}

.adding-btn {
    border-radius: 5px;
    background-color: rgb(0, 126, 0);
    color: white;
    height: 50px;
    width: 50px;
    font-size: 40px;
}

.subtract-btn{
    border-radius: 5px;
    background-color: rgb(161, 0, 0);
    color: white;
    height: 50px;
    width: 50px;
    font-size: 40px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}